RewriteEngine On

# Rewrite for usernames
RewriteRule ^([a-zA-Z0-9_-]+)$ /shareasource/user.php?username=$1 [L,QSA]

# Rewrite for resources
RewriteRule ^shareasource/([^/]+)$ /shareasource/view_resource.php?resource_id=$1 [L]
